<%- include('../partials/header') %>

<section class="page-title">
    <h1>Minhas Disciplinas</h1>
    <p>Algumas das disciplinas cursadas na minha jornada acadêmica.</p>
</section>

<section class="add-project-section">
    <a href="/disciplinas/cadastro" class="btn-add">Adicionar Nova Disciplina</a>
</section>
<section class="list-section">
    <ul>
        <% disciplinas.forEach((disciplina, index) => { %>
            <li>
                <%= disciplina %>
                <div class="action-buttons-simple">
                    <a href="/disciplinas/editar/<%= index %>" class="btn-edit-simple">Editar</a>
                    <a href="/disciplinas/excluir/<%= index %>" class="btn-delete-simple">Excluir</a>
                </div>
            </li>
        <% }) %>
    </ul>
</section>

<%- include('../partials/footer') %>