<%- include('../partials/header') %>

<section class="about-section">
    <h1>Sobre Mim</h1>
    <h2><%= estudante.nomeCompleto %></h2>
    <ul>
        <li><strong>Curso:</strong> <%= estudante.curso %></li>
        <li><strong>Instituição:</strong> <%= estudante.instituicao %></li>
        <li><strong>Ano de Ingresso:</strong> <%= estudante.anoIngresso %></li>
    </ul>
</section>

<%- include('../partials/footer') %>